# Core scientific and image processing libraries
numpy==1.26.4
opencv-python==4.10.0.84
scikit-image==0.24.0

# Progress bar
tqdm==4.66.4

# Plotting and visualization
matplotlib==3.9.2

# Utilities
psutil==6.0.0
